@import "app";
@import "bootstrap/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/fa-brands";
@import "fontawesome/fa-light";
/*!
 * App Core Styles
*/
[data-load]{
	cursor:pointer;
}
body{
	background-color: $gray-200;
}
.breadcrumb{
	[data-load]{
		color:$primary;
	}
	.active{
		cursor:default;
	}
}
footer{
	color:#fff;
	background:$blue;
	position:fixed;
	width: 100%;
	height: 50px;
	text-align:center;
	margin-left:0 !important;
	margin-right:0 !important;
	.col{
		cursor: pointer;
		font-size:$spacer*1.5;
		height: 100%;
		padding:5px;
	}
}
.hidden{
	display:none !important;
}
main{
	margin-bottom:$footer-height;
	padding:$spacer;
	> .btn,
	> .list-group,
	.shadow{
		box-shadow:		$box-shadow;
		border-width:	0;
	}
}