<nav class="page">
	<a class="btn btn-success text-white js-add-fuel"><i class="fal fa-plus" data-toggle="modal" data-target="#fuel_modal"></i></a>
</nav>
<div class="fuel">
</div>
<div class="modal" id="fuel_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Fuel</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="fuel-date">Date</label>
					<input type="date" class="form-control" id="fuel-date">
				</div>
				<div class="form-group">
					<label for="fuel-mileage">Mileage</label>
					<div class="input-group">
						<input type="text" class="form-control" id="fuel-mileage" placeholder="Mileage" step="any">
						<div class="input-group-append">
							<span class="input-group-text">Miles</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="fuel-per-litre">Cost Per Litre</label>
					<div class="input-group">
						<div class="input-group-append">
							<span class="input-group-text">&pound;</span>
						</div>
						<input type="text" class="form-control" id="fuel-per-litre" placeholder="Cost Per Litre" step="any">
						<div class="input-group-append">
							<span class="input-group-text">Per Litre</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="fuel-cost">Cost</label>
					<div class="input-group">
						<div class="input-group-append">
							<span class="input-group-text">&pound;</span>
						</div>
						<input type="text" class="form-control" id="fuel-cost" placeholder="Cost" step="any">
					</div>
				</div>
				<div class="form-group">
					<label for="fuel-litres">Litres</label>
					<div class="input-group">
						<input type="text" class="form-control" id="fuel-litres" placeholder="Litres" step="any">
						<div class="input-group-append">
							<span class="input-group-text">Litre</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary js-save-fuel">Save</button>
			</div>
		</div>
	</div>
</div>