<nav class="page">
	<a class="btn btn-success text-white js-add-fuel"><i class="fal fa-plus" data-toggle="modal" data-target="#fuel_modal"></i></a>
</nav>
<div class="list-group fuel">
	<div class="list-group-item loading bg-info text-white"><i class="fal fa-sync fa-spin"></i> Loading log&hellip;</div>
</div>
<div class="modal" id="fuel_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Fuel</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary js-save-fuel">Save</button>
			</div>
		</div>
	</div>
</div>