<?xml version="1.0" encoding="UTF-8"?>
	<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
	<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.jas-n.home" version="0.2.3">
    <name>Jas-n Home</name>
    <description>
		Stuff at Home
    </description>
    <author href="http://jas-n.com" email="jas-n@outlook.com">
        Jason Millis
    </author>
	<preference name="android-build-tool" value="gradle" />
    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"				value="none"/>
    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"				value="portrait" />	<!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"			value="universal" /><!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"				value="false" />	<!-- all: hides the status bar at the top of the screen -->
    <preference name="android-installLocation"	value="auto" />		<!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <!-- Plugins -->
		<!-- Core plugins -->
		<plugin name="cordova-plugin-whitelist" version="1" />
    <!-- Define app icon for each platform. -->
	<icon src="icon.png" />
	<gap:splash src="splash.png" />

    <icon src="icons/Android/Icon-36.png"	gap:platform="android" gap:density="ldpi" />
	<icon src="icons/Android/Icon-48.png"	gap:platform="android" gap:density="mdpi" />
	<icon src="icons/Android/Icon-72.png"	gap:platform="android" gap:density="hdpi" />
	<icon src="icons/Android/Icon-96.png"	gap:platform="android" gap:density="xhdpi" />
	<icon src="icons/Android/Icon-144.png"	gap:platform="android" gap:density="xxhdpi" />

	<access origin="*"/>
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
</widget>