<!-- config.xml reference: https://cordova.apache.org/docs/en/latest/config_ref/index.html -->
<widget xmlns		="http://www.w3.org/ns/widgets"
        xmlns:gap	="http://phonegap.com/ns/1.0"
        id			="com.jas-n.home"
        version		="1.5.0">
    <name>At Home</name>
    <description>Help around the house</description>
    <author href="https://jas-n.com" email="jas-n@jas-n.com">Jas-n</author>

    <!-- Define the main entry-point to the application -->
    <content src="index.html" />

    <!-- Customize your app and platform with the preference element. -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />

    <!-- Define a specific version of PhoneGap to build into your app. -->
    <preference name="phonegap-version" value="cli-8.0.0" />
    <!-- Plugins -->
    <!-- Core plugins -->
    <plugin name="cordova-plugin-file"		spec="~6.0.1" />
	<plugin name="cordova-plugin-whitelist"	spec="~1.3.3" />
    <!-- Define app icon and splashscreen for each platform. -->
    <platform name="android">
        <icon   src="res/icon/android/drawable-ldpi-icon.png"               density="ldpi" />
        <icon   src="res/icon/android/drawable-mdpi-icon.png"               density="mdpi" />
        <icon   src="res/icon/android/drawable-hdpi-icon.png"               density="hdpi" />
        <icon   src="res/icon/android/drawable-xhdpi-icon.png"              density="xhdpi" />
        <icon   src="res/icon/android/drawable-xxhdpi-icon.png"             density="xxhdpi" />
        <icon   src="res/icon/android/drawable-xxxhdpi-icon.png"            density="xxxhdpi" />
        <splash src="res/screen/android/drawable-land-ldpi-screen.png"      density="land-ldpi" />
        <splash src="res/screen/android/drawable-land-mdpi-screen.png"      density="land-mdpi" />
        <splash src="res/screen/android/drawable-land-hdpi-screen.png"      density="land-hdpi" />
        <splash src="res/screen/android/drawable-land-xhdpi-screen.png"     density="land-xhdpi" />
        <splash src="res/screen/android/drawable-land-xxhdpi-screen.png"    density="land-xxhdpi" />
        <splash src="res/screen/android/drawable-land-xxxhdpi-screen.png"   density="land-xxxhdpi" />
        <splash src="res/screen/android/drawable-port-ldpi-screen.png"      density="port-ldpi" />
        <splash src="res/screen/android/drawable-port-mdpi-screen.png"      density="port-mdpi" />
        <splash src="res/screen/android/drawable-port-hdpi-screen.png"      density="port-hdpi" />
        <splash src="res/screen/android/drawable-port-xhdpi-screen.png"     density="port-xhdpi" />
        <splash src="res/screen/android/drawable-port-xxhdpi-screen.png"    density="port-xxhdpi" />
        <splash src="res/screen/android/drawable-port-xxxhdpi-screen.png"   density="port-xxxhdpi" />
    </platform>
    <access origin="https://home.jas-n.com" />
</widget>